#photosBox {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* gap: 100px; */
    overflow-y: scroll;
}

.photo {
    width: 300px;
    height: auto;
    padding: 20px;
    margin: 10px 50px;
    background-image: url('../Images/frame.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.photo:first-of-type {
    margin-top: 100px;
}

.photo:last-of-type {
    margin-bottom: 100px;
}   